RewriteEngine On
RewriteBase /public/

# Разрешить доступ к реальным файлам и директориям
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправить все остальные запросы на index.php
RewriteRule ^ index.php [QSA,L]
